* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

#background {
    background: url(../img/new-back.jpg) ;
    justify-content: center;
  
}

#banniere {
    background-color:#1E1E1E ;
    justify-content: center;
    display: flex ;
}
#menuB {
    position:absolute;
    right: 5px;
    top: 50px;
    background-color: rgb(143, 133, 133);
}

li {
    text-decoration: none;
}

.flex {
    display: flex;
    list-style-type: none;
    justify-content: space-between; 
}

.menu {
    position: absolute;
    left: 0;
    top: 75px;    
}
ul {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

#banniere > ul , li {
    margin:15px ;
}

#menuList > li > ul {
    display: none;
}

#menuList > li:hover > ul {
    display: block;
}

#menuList > li:hover {
    color: white;
}

#menuList > li > ul > li > a {
    display: block;
    color: white;
    margin: 15px;
}

#menuList > li > a {
    color: rgb(155, 153, 153);
    
}

#menuList > li:hover > a {
    color:white;
}

@media screen and (max-width: 768px) {
    #banniere ul {
        display: block;
        text-align: center;
    }

    #banniere ul ul {
        display: none;
    }

    #banniere ul li:hover > ul {
        display: block;
    }

    #banniere ul li {
        display: inline-block;
    }

    #banniere #menuToggle {
        display: block;
        text-align: center;
    }

    #banniere .row-limit-size {
        display: block;
        text-align: center;
    }

    #banniere .menu {
        display: none;
        clear: both;
    }

    #banniere .menu.flex {
        flex-direction: column;
    }

    #banniere .menu ul {
        width: 100%;
        text-align: left;
    }

    #banniere .menu li {
        width: 100%;
    }
}


#banniere > ul > ul {
    position: absolute;
    right: 10px;
    top: 100px;
    display: none;
    background-color:#1E1E1E;
    z-index: 80;
    width: 250px;
    color:rgb(155, 153, 153)
}

#banniere > ul > li:hover > ul,
#banniere > ul > ul.show {
    display: block;
}

.menu > ul > li > ul > li > a {
    color:rgb(155, 153, 153) ;
}

.menu > ul > li > ul > li:hover > a {
    color: white;
}

.menu > ul > li > ul > li {
    margin: 9px;
    text-transform:none;
}

.menu > ul > li:hover > a {
    color: rgb(255, 255, 255);

}

@media screen and (max-width: 768px) {
    #background .block {
        text-align: center;
    }

    #background .image-container figure {
        display: flex;
        flex-direction: column;
    }

    #background .image-container img {
        width: 100%;
        height: auto;
    }

    #background .floating {
        text-align: center;
    }

    #background .artist-info {
        margin-bottom: 20px;
    }
}

.footer > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.menu > ul > li > a {
    color: rgb(155, 153, 153);
}

html > body > section > .block {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.menu > ul > li {
    margin : 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase; 
    height: 50px;
    color: white;
}


.menu > .flex >  li  > ul {
    display:none;
}

.menu > .flex >  li:hover  > ul {
    display: block;
    position: absolute;
    top:22px;
    background-color: #1E1E1E;
    width: 150px;
}

.block > .art {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-decoration: underline;
}

.block  {
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 800px;
    margin: 0 auto;
}

.image-container {
    margin: 5px;
}

.image-container img {
    width: 100%;
    filter: none;  
    margin-top: 80px;
    border-radius: 5px;
}

.floating {
    font-size: 30px;
    display:grid;
    text-align: justify;
    margin-left: 5px;
    width: 75%;
 }
 
 .image-container > .floating > h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #1E1E1E;
    white-space: nowrap;
    margin-top: 30px;
    
   text-decoration: underline;
 }

 .footer {
    background-color: #1E1E1E ;
    height: 145px;
    width: 100%;
 }

 .footer-reseaux {
    justify-content: center;
 }

 .footer-reseaux img{
    position: relative;
    bottom: 100px;
    width:15px }

.footer > ul > a {
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.footer > ul {
    padding-top: 47px;
    display: flex;
    justify-content: center;
}


.footer li {
    display: inline; 
    margin-right: 20px; 
}

.footer-reseaux {
    display: flex;
    align-items: center;
}

.footer-reseaux img {
    width: 20px;
    margin-right: 10px;
}

 img[alt~="logo"]{
    position: relative;
    bottom: 100px;
    height: 50px;
    width: auto;
}

.cont > p {
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 2px;
    left: 50px;
}


/* Top stories rap */

.block > h2 {
    padding: 15px 0;
    text-decoration: underline;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}
.block > .wayne {
    display: flex;
    align-items: center;
} 

.wayne figure img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.floating {
    margin-left: 16px;
    text-align: justify;
}

.floating > h6 {
    color:#1E1E1E;
    text-decoration: underline;
    margin-bottom: 10px;
}

.wayne > .floating > p {
    text-align: start;
    margin-bottom: 150px;
    font-size: 17px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;

}

/* Healing tattoo */

section > h2  {
    text-align: center;
    padding-top: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

section > p {
    max-width: 900px;
    text-align: justify;
    font-size: 17px;
    line-height: 1.3;
    color: #333;
    margin: 10px 50px 10px 80px; 
}

.healing {
    margin: 20px;
    max-width: 800px;
    margin: 0 auto; 
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
 }

.image-container  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
}

img[alt~="arbre"]{
    grid-column: 1; 
}

img[alt~="oeil-horus"] {
    grid-column: 2;
}


@media (max-width: 980px) {
    .image-container {
        grid-template-columns: 2fr;    }
}

.float > p {
   text-align: justify;
   margin-top: 25%;
    font-size: 20px;   
}

.symbolic{
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Contact */
#name {
    width: 150px;   
}

.form {
    display: flex;
    color:rgb(0, 0, 0);
    justify-content: right;
}

.formulaire > ul > li {
    margin: 5px;
    font-size: 19px;
}

.form-container {
    display:flex; 
    padding-top: 10%;
    padding-left: 20%;
    flex-direction: column;
    max-width: 500px;
    margin: auto;  
}

input,
textarea {
    width: 100%; 
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.maps {
    margin-top: 20px;
}

iframe {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.info {
    position: relative;
    left: 500px;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    font-size: 22px;  
}

.question {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 300px;
    position: relative;
    top: 75px;
    left: 25px;
}

.contact-us > span {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(167, 167, 167);
    font-size: 25px;
}

.contact-us {
    position: relative;
    top: 70px;
    left: 25px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 650px) {
   .form-container, .question, .contact-us, .info {
        width: 100%;
        padding: 10px;
        left: 0;
        top: 0;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .form-container, .question, .contact-us, .info {
        max-width: 80%;
    }
}

/* About */
.about {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.intro p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.steps {
    margin-top: 30px;
}

.steps h1 {
    font-size: 24px;
    color: #333;
}

.steps h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.steps p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.steps figure {
    text-align: center;
    margin-top: 10px;
}

.design,
.search,
.day,
.after,
.recommendation {
    margin-top: 20px;
}

.design h3,
.search h3,
.day h3,
.after h3,
.recommendation h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.design p,
.search p,
.day p,
.after p,
.recommendation p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.design figure,
.search figure,
.day figure,
.after figure,
.recommendation figure {
    text-align: center;
    margin-top: 10px;
}

figure img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

.recommendation ul {
    padding: 0;
    list-style-type: none;
}

.recommendation li {
    margin-bottom: 10px;
    line-height: 1.6;
    color: #555;
}

/* FAQ */

.faq {
    font-size: 23px; 
    display: block;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq > h5 {
    font-size: 25px;
    text-decoration: underline;
    color: #1E1E1E;
    text-align: center;
    font-weight:549;
}

.faq > h4 {
    margin-bottom: 25px;
    color: #1E1E1E; 
}

.faq > h4 , p {
    padding: 45px;
}

/* symbolic tattoo */
h2 {
    margin: 15px;
}

.float > h3  {
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: underline;
   margin-top: 30%;
}

@media only screen and (max-width: 600px) {
    
    body {
        font-size: 14px;
    }

    .row-limit-size {
        padding: 10px;
    } 
}

/* Desktop */
@media only screen and (min-width: 650px) {
    
    body {
        font-size: 16px;
    }

    .row-limit-size {
        padding: 20px;
    } }